@use 'reset-css/reset';

@use './fonts';

@use './vars' as *;

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  position: relative;
}

body {
  font-family: $defaultFontFamily;
  font-size: $fontSizeLg;
  line-height: $defaultLineHeight;
  color: $textPrimary;
  background:
    radial-gradient(circle at top center, rgb(30 45 70 / 45%), transparent 45%),
    $backgroundPrimary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: $sandy;
  color: $black;
}
