$brown: #2a2020;
$sandy: #d1b46a;
$beige: #e6d8bd;
$red: #c00;

$defaultFontFamily: 'Montserrat', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $brown;
$defaultTextColor: $sandy;
$defaultLineHeight: 1.2;
