@use '../../styles/vars.scss' as vars;

.meta {
  margin-bottom: 24px;
}

.metaItem {
  font-size: vars.$fontSizeMd;
  opacity: 0.8;
  line-height: 1.5;

  & + .metaItem {
    margin-top: 6px;
  }
}

.description {
  font-size: vars.$fontSizeLg;
  line-height: 1.6;

  margin-bottom: 30px;
}



.text {
  line-height: 1.7;
}

// .text {
//   font-size: vars.$fontSizeSm;

//   & > *:not(:first-child) {
//     margin-top: 10px;
//   }
// }
